@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* 字体库*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#777, #222);
    /*颜色渐变*/
}

/*设置最外面盒子内容*/
.card {
    position: relative;
    width: 340px;
    height: 450px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.circle {
    position: absolute;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
    background: #333;
    clip-path: circle();
}

/*对圆的弧形 进行处理*/
.circle::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -16px;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 100;
    pointer-events: none;
    /*鼠标事件拜拜   层级太高 设置鼠标事件为 none*/
}

.circle .imgBox {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 310px;
    width: 340px;
    background: #ff0;
}


.circle .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*图片变形处理*/
    transition: 0.5s;
    transform-origin: bottom;
    /*hover  从下往上放大*/
}

.circle .imgBox:hover img {
    transform: scale(1.5);
}


/*修饰文本*/
.content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
    padding: 20px 30px;
}

.fa-linkedin{
    background: #0077b5;
    color:#fff;
    padding: 2px 4px;
    border-radius: 2px;
}

.content h3{
    font-size: 1.4em;
    color:#333;
    margin-top: 6px;

}

.texrIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 2px;
}

